*{
  margin: 10px;
  padding: 0;
}
body { /*cor de fundo e tudo do começo*/
  background-color: #FFF8DC;
  color: black;
  font-family:'Ubuntu', sans-serif;
  font-size: 15px;
  width: 100%;
  /* margin: auto; */
  /* padding: 65px; */

}
header { /*cabeçalho */
  display: flex;
  flex-direction: row;
  height: 125px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 15px solid #FAEBD7;
}
div#logo img{
  width: 230px;
  height: 230px;
}
li { /*ordem das coisa da header que vai virar link */
  display: inline-block;
  list-style: none;
  margin: 20px;
  font-size: 16px;
}
a { /*cor das coisa da header que vai virar link (menos a logo)*/
  color: #e6bc18;
  text-decoration: none;
}
li :hover{ /*cor e bagui das coisa da header que mudar de cor qnd passa o mouse*/
  color: black;
  transition: 0.3s all;

}
main { /*por enquanto distancia entre header e meio da page*/
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}






/*ajeitar pois ta bugado*/
.container .card {
    background-color: #e6bc18;
    height: 450px;
    width: 750px;
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 30px;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card h2 {
    font-size: 20px;
  }
  
  .card h4 {
    font-size: 16px;
  }
  




  .banner #div_erros_login {
    margin-top: 15px;
  }
  
  button {
    cursor: pointer;
  }
  
  /* FORMULARIO */
  
  .alerta_erro{
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    display: none;
    background-color: #fff;
    color: #FAEBD7;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: black 3px solid;
    padding: 10px;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }
  
  .formulario .tipo_campo {
    font-size: 20px;
    font-weight: 600 !important;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 10px;
    border: 2px solid #FAEBD7;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
  }
  
  .btn {
    font-family: "Barlow", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: #e6bc18;
    background-color: #FAEBD7;
    width: 120px;
    align-self: center;
    margin-top: 5px;
  }
  
  .loading-div {
    width: 50px;
    margin: auto;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }