* {
  margin: 10px;
  padding: 0;
}

body {
  /*cor de fundo e tudo do começo*/
  
  /* background-color: #FFF8DC; */
  background-image: linear-gradient(60deg, #faebd7, #e6bc18);
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  width: 100%;
  /* margin: auto; */
  /* padding: 65px; */

}

header {
  /*cabeçalho */
  display: flex;
  flex-direction: row;
  height: 125px;
  justify-content: space-between;
  align-items: center;
}

div#logo img {
  width: 200px;
  height: 200px;
}

li {
  /*ordem das coisa da header que vai virar link */
  display: inline-block;
  list-style: none;
  margin: 20px;
  font-size: 16px;
  font-weight: bold;
}


a { /*cor das coisa da header que vai virar link (menos a logo)*/
  color: black;
  text-decoration: none;
}
li :hover{ /*cor e bagui das coisa da header que mudar de cor qnd passa o mouse*/
  color: #faebd7;
  transition: 0.3s all;
}

.a_curiosidade {
  /*css das coisas do botão que é pra virar um math.random*/
  border: 2px solid black;
  padding: 5px;
  border-radius: 20px;
  width: 900px;
  height: 900px;

}

.a_curiosidade:hover{ /*hover do bagui acima*/
    background-color: #faebd7;
    color: black;
    cursor: pointer;
}

main {
  /*por enquanto distancia entre header e meio da page*/
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}


.container {
  display: flex;
  justify-content: center;
}
.container .card {
  background-color: #e6bc18;
  height: 450px;
  width: 600px;
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: double 5px;
  margin: 30px;
}

.card h2 {
  font-size: 25px;
}

.card h4 {
  font-size: 10px;
}


.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: #FAEBD7;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: black 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  justify-content: center;
  flex-direction:column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #FAEBD7;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6bc18;
  background-color: #FAEBD7;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

button:hover {
  background-color: #FFF8DC;
  color: #e6bc18;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}