* {
  margin: 0;
  padding: 0;
}

body {
  /*cor de fundo e tudo do começo*/

  /* background-color: #FFF8DC; */
  background-image: linear-gradient(60deg, #e6bc18, #faebd7);
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  width: 100%;
  /* margin: auto; */
  /* padding: 65px; */

}

div#logo img {
  margin-top: 10%;
  width: 230px;
  height: 230px;
}

header {
  /*cabeçalho */
  display: flex;
  flex-direction: row;
  height: 125px;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 15px solid #FAEBD7; */
}

li {
  /*ordem das coisa da header que vai virar link */
  display: inline-block;
  list-style: none;
  margin: 20px;
  font-size: 17px;
  font-weight: bold;
}

a {
  /*cor das coisa da header que vai virar link (menos a logo)*/
  color: #e6bc18;
  text-decoration: none;
}

li :hover {
  /*cor e bagui das coisa da header que mudar de cor qnd passa o mouse*/
  color: black;
  transition: 0.3s all;
}

.a_curiosidade {
  /*css das coisas do botão que é pra virar um math.random*/
  border: 2px solid black;
  padding: 3px;
  border-radius: 20px;
  width: 700px;
  height: 700px;

}

.a_enquete {
  background-color: #faebd7;
  color: black;
  border: 2px solid #e6bc18;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  height: 30px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.a_enquete:hover {
  /*hover do bagui acima*/
  background-color: black;
  color: #e6bc18;
  cursor: pointer;

}

main {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 3%;
}








.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

h2 {
  display: flex;
  justify-content: center;
  height: 50px;

}

select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #faebd7;
  background-image: none;
  border-radius: 20px
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background-color: black;
  overflow: hidden;
}

select {
  flex: 1;
  padding: 0 .5em;
  height: 30px;
  color: black;
  cursor: pointer;
  font-size: 15px;
  font-style: bold;
  font-family: 'Ubuntu', sans-serif;
}

.select::after {
  /* content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em; */
  background: #FAEBD7;
  cursor: pointer;
  /* pointer-events: none; */
  /* transition: 25s all ease; */
}

.banner .container .card {
  background-image: linear-gradient(60deg, #faebd7, #e6bc18);
  height: 350px;
  width: 950px;
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 10px;
}

.card {
  display: flex;
  height: 800px;
  /* justify-content: space-around; */
}

.card h1 {
  font-size: 25px;
}

button {
  cursor: pointer;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #faebd7;
  background-color: #e6bc18;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  /*hover do bagui acima*/
  background-color: #FAEBD7;
  color: #e6bc18;
  cursor: pointer;

}

.footer {
  background-color: #faebd7;
  height: 190px;
  width: 100%;
  color: black;
  display: flex;
  margin: 8px;
}

.footer .container2 {
  display: flex;
 
}
h2{
  font-size: 15px;
  display: flex;
  align-items: flex-start;
  margin: 10px;
  
}
.insta {
  height: 10px;
  width: 20px;

}