* {
    margin: 0;
    padding: 0;
}

body {
    /*cor de fundo e tudo do começo*/

    /* background-color: #FFF8DC; */
    background-image: linear-gradient(60deg, #e6bc18, #faebd7);
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    width: 100%;
    /* margin: auto; */
    /* padding: 65px; */

}
div#logo img {
    margin-top: 10%;
    width: 230px;
    height: 230px;
}

header {
    /*cabeçalho */
    display: flex;
    flex-direction: row;
    height: 125px;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 15px solid #FAEBD7; */
}

li {
    /*ordem das coisa da header que vai virar link */
    display: inline-block;
    list-style: none;
    margin: 20px;
    font-size: 17px;
    font-weight: bold;
}

a {
    /*cor das coisa da header que vai virar link (menos a logo)*/
    color: #e6bc18;
    text-decoration: none;
}

li :hover {
    /*cor e bagui das coisa da header que mudar de cor qnd passa o mouse*/
    color: black;
    transition: 0.3s all;
}

.a_curiosidade {
    /*css das coisas do botão que é pra virar um math.random*/
    border: 2px solid black;
    padding: 3px;
    border-radius: 20px;
    width: 700px;
    height: 700px;

}

.a_curiosidade:hover {
    /*hover do bagui acima*/
    background-color: #e6bc18;
    color: black;
    cursor: pointer;

}
.a_enquete {
    background-color: #faebd7;
    color: black;
    border: 2px solid #e6bc18;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    height: 30px; 
    font-weight: bolder; 
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.a_enquete:hover {
    /*hover do bagui acima*/
    background-color: black;
    color: #e6bc18;
    cursor: pointer;

}
main {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 3%;
}





.titulo {
    padding: 5px;
    margin-top: 50px;

}


h1 {
    /*coisas do titulo da page*/
    font-size: 35px;
    line-height: 10px;
    height: 50px;
    font-style: unset;
    font-family: 'Ubuntu', sans-serif;
}

button {
    display: flex;
    justify-content: center;    
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: #e6bc16;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.fota {
    /*img page inicial */
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: flex-start;
}

/* da caixa de alerta das curiosidades */


.alertafake {
    background-color: white;
    display: none;
    padding: 10px;
    /* display: none;  descomitar isso e comitar pra ver como ta ficando o alertx  fake */
    margin-left: 380px;
    align-items: center;
    position: absolute;
    z-index: 50;
    height: auto;
    width: 400px;
    color: #BC8F8F;
    border: ridge 10px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 19px;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.alertafake .fechar {
    background-color: #FF6347;
    position:relative;
}
.explicar {
    display: flex;
    font-size: 25px;
    justify-content: space-around;
    vertical-align: baseline;
}

.explicar img {
    width: 400px;
    display: flex;
    align-items: flex-start;
    

}
/* tag dos textos de conteúdo */
p { 
    text-align: justify;
    font-size: 18px;
    margin: 50px;
   
}

p1 {
    text-align: justify;
    font-weight: bold;
    font-size: 20px;

}

p2 {
    color: red;
    font-weight: bolder;
    font-size: 20px;
    margin: 50px;
}

.jp {
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.cds {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin: 90px;
    
}


.footer {
    background-color: #e6bc18;
    height: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 1;
}