*{
    margin: 10px;
    padding: 0;
  }
  body { /*cor de fundo e tudo do começo*/
    /* background-color: #FFF8DC; */
    background-image: linear-gradient(60deg, #faebd7, #e6bc18);
    color: black;
    /* color:#FAEBD7; */
    font-family:'Ubuntu', sans-serif;
    font-size: 15px;
    width: 100%;
    /* margin: auto; */
    /* padding: 65px; */
  
  }
  header { /*cabeçalho */
    display: flex;
    flex-direction: row;
    height: 125px;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 15px solid #FAEBD7; */
  }
  div#logo img{
    width: 200px;
    height: 200px;
  }
  li { /*ordem das coisa da header que vai virar link */
    display: inline-block;
    list-style: none;
    margin: 20px;
    font-size: 16px;
    font-weight: bold;
  }
  a { /*cor das coisa da header que vai virar link (menos a logo)*/
    color: black;
    text-decoration: none;
  }
  li :hover{ /*cor e bagui das coisa da header que mudar de cor qnd passa o mouse*/
    color: #faebd7;
  } 

.container {
    display: flex;
    justify-content: center;
  }
  
  .banner .container .card {
      background-color: #e6bc18;
      /* height: 350px;
      width: 450px; */
      display: flex;
      flex-direction: column;
      color: black;
      justify-content:center;
      align-items: center;
      border: double 5px;
      border-radius: 20px;
      margin: 10px;
    }
    
    .card {
      display: flex;
      /* justify-content: space-around; */
    }
    
    .card h1 {
      font-size: 20px;
    }
    
    .card h4 {
      font-size: 16px;
    }
    
    .banner #div_erros_login {
      margin-top: 15px;
    }
    
    button {
      cursor: pointer;
    }
    .formulario .tipo_campo {
        font-size: 20px;
        font-weight: 600 !important;
      }
      
      .formulario {
        display: flex;
        flex-direction: column;
      }
      
      input {
        margin-bottom: 10px;
        border: 2px solid #FAEBD7;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        outline: none;
      }
      
      .btn {
        font-family: "Barlow", sans-serif;
        border: 0;
        border-radius: 5px;
        font-weight: 600;
        font-size: 17px;
        padding: 10px 15px;
        color: #e6bc18;
        background-color: #FAEBD7;
        width: 110px;
        height: 50px;
        align-self: center;
        margin-top: 5px;
      }
      .btn:hover {
        background-color: black;
        color: #e6bc18;
      }



      footer {
        margin: 0;
        padding: 0;
        background-color: #faebd7;
        height: 200px;
      }
      
      .container-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 1260px;
        height: 150px;
        padding: 0;
       
      }
      .container-footer:not(:first-child) {
        padding-right: 30px;
      }
      
      .footer-col {
        margin-top: 200px;
      } 
      .logos{
        margin-top: 60px;
      }
      
      .footer-col h4 {
        font-size: 15px;
        color: black;
        margin-bottom: 20px;
        font-style: bold;
      }
      h5{
       font-size: 15px;
      
      }
      
      .footer-col ul li {
        margin: 10px 0;
      }
      
      div#redes img {
        width: 28px;
        height: 28px;
      }
      
      .redeso {
        display: flex;
        align-content: flex-end;
      }
    